[user]
  name = Oliver Fisher
  email = oliverf@shopify.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[merge]
  tool = vimdiff
[core]
	editor = atom --wait
[interactive]
  singlekey = true
[push]
  default = current
[pull]
  default = current
  rebase = true
[hub]
  protocol = ssh
